* {
    margin:0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    color: #cccccc;
}
.container_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 20% 0;
    background: url("../img/photo-1475483768296-6163e08872a1.jfif") 100% ;
}
#about {
    width: 100%;
    height: 450px;
    background: #aaaaaa;
}
#support {
    width: 100%;
    height: 40rem;
    background: url("../img/mark-s-TkEPQPWr2sY-unsplash.jpg") 100% center;
    background-blend-mode: lighten;
}
#porfolios {
    width: 100%;
    height:auto;
    background: #353941;
}
#staffs {
    width: 100%;
    background: url("../img/photo-1507878866276-a947ef722fee.jpg") 100% center fixed;
    height: auto;
    padding: 0 0 20rem 0;
}
#contact {
    background: url("../img/goodby.jpg") 100% center fixed;
    width: 100%;
    height: 700px;
}
.color-bg {
    background-color: rgba(43, 65, 65, 0.6);
    width: 100%;
    height: 100%;
}
.cover_text {
    width: 500px;
    text-align: center;
    height: auto;
    position: absolute;
    top: 26%;
    left: 31%;
    padding: 15px;
    background: rgb(255, 255, 255);
    color: #0b2e13;
    font: caption;
    font-family: nino-mt;
}
.band_description {
    background: #000000;
    color: #E6822D;
    padding: 14px;
    text-align: center;
    font-family: algeti;
}
.band {
    width: 35%;
    background: #6d6d6d;
    margin: auto;
}
.band > img {
    object-fit: cover;
    width: 100%;
    margin: auto;
}
.about_heading {
    width:100%;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.48);
}

.contact_form {
    background-color: #965a3e;
    width: 60%;
    margin: 25px auto;
    padding: 25px 0;
    position: relative;
    font-family: dejavu;
}
form {
    width: 370px;
    padding: 25px;
    margin-left: 1rem!important;
}
form > input, textarea {
    border: none;
    width: 300px;
    padding: 10px;
    display: flex;
    margin: 12px auto;
    background-color: transparent;
    border-bottom:2px solid #f7f7f7 ;
}
input:hover,
input:focus {
    border-bottom: 2px solid #000000;
}
input::placeholder {
    color: #f7f7f7;
    text-align: center;
}
footer {
    width: 100%;
    height: auto;
    padding: 0 0 30px 0;
    background-color: #26272B;
    font-family: algeti;
    font-size: 16px;
}


.progress-bars {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 5px;

}

.progress-bar {
    height: 100%;
    background: #808080;
    width: 0;
    z-index: 2;
}
.footer_content {
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
}
.footer_about {
    width: 600px;
}
.footer_categories {
    width: 150px;
    position: absolute;
    left: 60%;
    right: 40%;
    margin: -168px 0 0 0;
}
.footer_menu {
    width: 70px;
    margin: -110px 3rem 0 0;
    float: right;
}
.soc_media {
    width: 150px;
    display: flex;
    position: absolute;
    left: 70%;
    right: 30%;
    margin: -40px 0 0 0;
}
.soc_media img {
    object-fit: cover;
    width: 100%;
    padding-left: 10px;

}
.footer_2 {
    text-transform: uppercase;
    font-family: racha;
    font-size: 20px;
    width: 420px;
}
.addrs {
    width: 400px;
    height: 100%;
    margin: -25rem 1rem;
    text-align: center;
    font-family: nino-mt;
    padding: 7.7rem 0;
    font-size: 25px;
    color: white;
    float: right;
}
.addrs_right {
    float: right;
    margin: 70px 1rem;
}
.porfos-list {
    width: 100%;
    height: 100%;
}
.staffs-list {
    width: 100%;
    height: 100%;
}
.logos {
    display: flex;
    width: 100px;
}
.logos > img {
    width: 100%;
    margin: 0 25px 0 0;
    border-radius: 15px;
}
.staff {
    width: 100%;
    height: 600px;
}
.description_txt2 {
    background: #836953;
    color:  #343a40;
    text-align: center;
    padding: 10px;
    font-family: nino-mt;
}

.description_txt2:hover {
 color: #f7f7f7;
}
.staff > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row {
    margin: 0;
    padding: 0;
}
.description_txt {
    background: #836953;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: racha;
    height: 100%;
    text-transform: uppercase;
    padding: 50% 0;
    opacity: 0;
    transition: 2s;
    border-radius: 12px;

}
.description_txt:hover {
    transition: 1s;
    opacity: 1;
}
.btn {
    font-family: racha;
    letter-spacing: 1.5px;
}

.porfolios-list {
    width: 100%;
    margin: auto;
    height: 650px;
    padding: 0 0 25px 0;
}

.porfos-list > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
}
.supp_list {
    margin: 1.5rem auto;
    width: 100%;
    max-height: 330px;
    padding:  0;
    background: coral;
    display: flex;
}

.description-txt {
    position: absolute;
    top:0;
    width: 380px;
    padding:81px 3rem;
    background: rgba(12, 84, 96, 0.36);
    color: coral;
    font-family: tomaso;
}
.cover-img {
    width: 100%;
    height: 100%;
}
.s_list {
    height: 100%;
    width: 100%;
    padding:  0;
}
.partner {
    width: 120px;
    margin: 3rem auto;
    text-align: center ;
}
.some {
    margin-left: 3rem;
}
.container_home h1,h3 {
    font-weight:200 ;
    margin: 0.4rem;
    text-transform: uppercase!important;
}
.container_home h1 {
    font-size: 3.5rem;
}
.container_home h3 {
    font-size: 2rem;
    color: #aaaaaa;
}

@media(min-width: 1200px) {
    .container_home h1 {
        font-size: 5rem;
    }
}
@media(max-width: 800px) {
    .container_home {
        padding: 0 1rem;
    }
    .container_home h1 {
        font-size: 3rem;
    }
}
@media(max-width: 500px){
    .container_home h1 {
        font-size: 2.5rem;
    }
    .container_home h3 {
        font-size: 1.5rem;
    }
}
.line {
    width: 50px;
    height: 2px;
    background: #aaaaaa;
    margin: 8px 8px;
}
/* nav */

.sidenav {
    display: none;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: #333333;
    color: #282828;
    padding-top: 60px;
    text-align: center;
    animation: ease-in 1s navanimation;
}
@keyframes navanimation {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }
    to {
        opacity: 1;
    }
}

.sidenav a {
    width: 250px;
    margin: auto;
    padding: 1rem;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}
.sidenav a:hover {
    transition: 0.5s;
    color: #f1f1f1;

}



/* nav */

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* main pagination*/
.mySlides {
    display: none
}
.dot {
    cursor: pointer;
    padding: 20px;
    margin: 0 0 25px 0;
    font-family: racha;
    background-color: #836953;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #2b4141;
}
.fades {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fades;
    animation-duration: 1.5s;
}

@-webkit-keyframes fades {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fades {
    from {opacity: .4}
    to {opacity: 1}
}
/* end */