* {
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none!important;
}
html {
    scroll-behavior: smooth;
}
.sidenav {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    background-color: #b7b7b7;
    color: #282828;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    animation: ease-in 1s navanimation;
}
@keyframes navanimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.sidenav a {
    width: 250px;
    margin: auto;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}
.about-txt {
    color: #818181;
    text-align: center;
    padding: 50px 0;
}
.sidenav a:hover {
    transition: 2s;
    color: #f1f1f1;
    animation: alternate 2s naveffect;
    border-bottom: 1px solid white;

}
@keyframes naveffect {
    from {
        border-bottom: 1px solid white;
    }
    to {
        border-bottom: 1px solid white;
    }

}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

.fixed-menu {
    width: 160px;
    height: 90px;
    position: fixed;
    right: -110px;
    top: 25%;
    z-index: 1;
    font-family: dejavu;
    transition: 1s;
}
.fixed-menu:hover,
.fixed-menu:focus {
    right: 0;
    transition: 1s;
    cursor: pointer;
}
.text-about button {
    cursor: pointer;
    position: absolute;
    margin: 12px -45px 0;
}
#anwers {
    width: 550px;
    position: fixed;
    left: 32%;
    top: 39%;
    padding: 10px;
    z-index: 3;
    background: #3e4448;
    color: #1b1e21;
    text-align: center;
    font-family: mg-glaho-drunk;
    border-radius:5px ;
    display: none;
}
#list_b {
    width: 90%;
    height: 600px;
    left: 5%;
    top: 15px;
    position: fixed;
    z-index:4 ;
    background: #303030;
    display: none;
    overflow-x: scroll;

}
.headers-bands {
    width: 100%;
    padding: 10px;
}
.body-bands {
    width: 95%;
    height: 800px;
    margin: 6px auto;
}
.list-B {
    color: #acacac;
    text-align: center;
    height: 400px;
    margin: auto;

}
.list-B img {
    width: 100%;
    height: 100%;
    border: 6px solid #818181 ;


}
.list-B img:hover {
    border: 3px solid #818181;
}
.list-B h6 {
    font-family: mg-glaho-drunk;
}
.name-B {
    width: auto;
    height: 110px;
}

.section-fade-in {
    position: relative;
    color: white;
    background-size: cover;
    background-position: center; }
.section-fade-in:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(#111, rgba(17, 17, 17, 0.2), rgba(17, 17, 17, 0.8));
}
#home {
    width: 100%;
    height: 600px;
}
#about  {
    width: 100%;
    padding: 60px 0;
}
#support {
    width: 100%;
    padding: 15px 0;
}
#porfolios {
    width: 100%;
    padding: 15px 0;
}
#staffs {
    width: 100%;
    padding: 50px 0 ;

}
#contact {
    width: 100%;
    height: 500px;
}
#video-contents {
    width: 100%;
    height: 700px!important;
    padding: 0 0 100px 0;
    position: fixed;
    left: 0;
    top: 0;
    background: #303030;
    z-index: 4;
    display: none;
    overflow: scroll;
}
.videotoggle {
    display: block!important;
}

.btns {
    width: 223px;
    padding: 10% 0;
    margin: auto;
}
.btns a {
    color: black!important;
}
.btns a:hover {
    text-decoration: none;
}
.c-content button {
    border: none;
    padding: 25px;
    font-family: tomaso;
    letter-spacing: 1px;
}


footer {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 65px;
    background-color: #15323a;
    color: #fff;
}
.dscpr {
    color: #ffff;
    width: 300px;
    margin: 25% auto;
    font-family: dejavu;
}
.p-content button {
    margin-left: 5px;
}
.inner {
    width: 1200px;
    margin: 0 auto;
    font-family: algeti;
    line-height: 1.80;
}
.legal {
    width: 1200px;
    margin: 30px auto 0 ;
    font-family: grotesk;
    color: #898989;
}
.mediaa {
    padding: 0;
    text-align: right;
}
footer img {
    margin: 0 0 0 23px;
}
.email {
    width: 500px;
    height: 330px;
    margin: auto;
    padding: 25px ;
    position: fixed;
    left: 35%;
    bottom: 25%;
    z-index: 22;
    display: none;
    background: #9fcdff;
}
.email input {
    width: 300px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding: 15px;
    margin: 10px auto;
    color: white;
}
.email input:hover,
.email input:focus {
    border-bottom: 2px solid white;
}
.submit {
    margin: 20px 0;
    padding: 10px!important;
    width: 300px;
    font-family: dejavu!important;
}
.submit:hover {
    color: white!important;
}
.exit {
    color: beige;
    position: absolute;
    left: 0;
    top: 0;
    background: #41495d;
    padding: 10px 20px;
    cursor: pointer;
}
form {
    width: 300px;
    margin: auto;
}
.email input::placeholder {
    color: #c5623e;
    font-family: tomaso;
    text-align: center;
}
.c-content button:hover {
    background: transparent;
}
.about-content {
    max-width: 800px;
    height: 300px;
    margin: auto;
    background: #343a40;
}

.s-content {
    margin-top: 100px;
    color: white;
}
.p-content {
    margin: 50px 0;
    color: black;
}
.support-content {
    margin: auto;
}
.p-container {
    height: 350px;
    padding: 0!important;
}
.p-container img {
    height: 100%;
    width: 100%!important;
    padding: 0 5px 0;
    z-index: 0;
}
.name-p {
    font-family: algeti;
    text-align: right;
    padding: 15px;
    background: #41495d;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 0;
}
.show-info {
    background: rgba(11, 46, 19, 0.5);
    position: absolute;
    top: 0;
    transition: 1s;
    font-family: algeti;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 0;
}

.more-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    font-family: dejavu;
}
.f1 {
    z-index: 1!important;
    opacity: 1!important;
    transition: 1s;
}
.c-content {
    width: 300px;
    padding: 23px 0;
    margin: auto;
    font-family: dejavu;
    color: white;
}
.music {
    width: 300px;
    height: 80px;
    background: #86cfda;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 30px;
    font-family: tomaso;
    letter-spacing: 2px;
    z-index: 1;
}
.music:hover {
    background: #343a40;
    color: white;
}
.show-info:hover {
    transition: 1s;
    opacity: 1;
}

.web-content, .brends-content, .video-contents, .audio-content{
    height: 300px;
    margin: 0 0 30px 0;
    border-radius: 15px;
    padding: 25% 0 0 0;
    animation: 5s ease infinite;
    animation-name: content;
    letter-spacing: 2px;

}
.p-content button {
    width: 200px;
    position: absolute;
    right:5%;
    bottom: 0;
    border: none;
    background: #343a40;
    padding: 10px 0 15px 0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.p-content button > a {
    color: white;
}
@keyframes content {
    from {
        box-shadow: 0 5px 20px #7e0fff;;
        color: #7e0fff;
    }
    50% {
        box-shadow: 0 5px 20px #0fffc1;
        color:#0fffc1;

    }
    to {
        box-shadow: 0 5px 20px #7e0fff;
        color: #7e0fff;
    }
}

.rows {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.text-about {
    padding: 30px;
    display: inline-block;
    text-align: center;
}

/* staffs */
.st {
    /*width: 452px;*/
    display: inline-block;
    height: 550px;
    padding: 0!important;
    overflow: hidden;
    background: black;
    border: 1px solid white;
}

.st-content {
    margin: 20px 0;
    background: #303030;
    width: 100%;
}
.down {
    position: absolute;
    bottom: 0;
    left: 0;
    margin:0 ;
    background: white;
    color: black;
    width:100%;
    height: 100px;
    padding: 4% 0 0 0 ;
    text-align: center;
    font-family: dejavu;
    transition: 1s;
}
.down:hover {
    transition: 1s;
    transform: translateY(41px);
    z-index: 1;
}
.st img {
    width: 100%;
    height: 100%;


}
/* end */

.containers {
    display: -webkit-box;
    display: flex;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
}
.containers section {
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #000;
}
@keyframes naviga {
   from {
       background: rgba(255, 255, 255, 0.51);
   }
   to {
       background: #353a43;
   }
}

/* support */



















/* scroll */
::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    background: transparent;
    box-shadow:2px 0 0 5px #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}
/* end */